[package]
name = "dropy_program"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "lib"]

[dependencies]
borsh = { version = "1.5.1", features = ["derive"] }
solana-program = "1.18.26"

[profile.release]
overflow-checks = true
lto = "fat"
codegen-units = 1
